@import "./custom-properties.css";

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

.hero {
  width: 100%;
  min-height: 30rem;
  padding: 3rem;
  position: relative;
}

.hero h1 {
  text-transform: uppercase;
  color: #333;
  opacity: 0.99;
}

.hero p {
  color: #333;
  width: 50%;
  opacity: 0.99;
}
